<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.multiplay"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:name="com.android.application.MultiPlayApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/noAnimTheme" >
        <service
            android:name="com.android.services.ConnectionService"
            android:exported="false" />

        <activity
            android:name="com.android.multiplay.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.multiplay.MultiplayExplorerActivity"
            android:label="@string/title_activity_multiplay_explorer"
            android:parentActivityName="com.android.multiplay.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.multiplay.MainActivity" />
        </activity>
        <activity
            android:name="com.android.multiplay.SystemControllerActivity"
            android:label="@string/title_activity_system_controller"
            android:parentActivityName="com.android.multiplay.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.multiplay.MainActivity" />
        </activity>
        <activity
            android:name="com.android.multiplay.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName="com.android.multiplay.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.multiplay.MainActivity" />
        </activity>
        <activity
            android:name="com.android.multiplay.OptionsActivity"
            android:label="@string/title_activity_options"
            android:parentActivityName="com.android.multiplay.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.multiplay.MainActivity" />
        </activity>
        <activity
            android:name="com.android.multiplay.FirstMenu"
            android:label="@string/title_activity_first_menu"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.android.controllers.keyboard.KeyboardActivity"
            android:label="@string/title_activity_keyboard"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.android.controllers.mouse.MouseActivity"
            android:label="@string/title_activity_mouse"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.android.controllers.mouse.Gyromouse"
            android:label="@string/title_activity_gyromouse" >
        </activity>
        <activity
            android:name="com.android.controllers.keyboard.Collection"
            android:label="@string/title_activity_collection" >
        </activity>
        <activity
            android:name="com.android.controllers.steeringwheel.SteeringwheelActivity"
            android:label="@string/title_activity_steeringwheel" >
        </activity>
        <activity
            android:name="com.android.multiplay.ConnectionsActivity"
            android:label="@string/title_activity_connections"
            android:parentActivityName="com.android.multiplay.OptionsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.multiplay.OptionsActivity" />
        </activity>
        <activity
            android:name="com.android.multiplay.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
    </application>
    <application
        android:name="com.android.carousel.Singleton"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
    </application>

</manifest>
