<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.multiplay"
    android:allowBackup="true"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" />

    <application
        android:name="com.android.application.MultiPlayApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <service
            android:name="com.android.services.ConnectionService"
            android:exported="false" />
        <service
            android:name="com.android.services.ConnectionCheckService"
            android:exported="false" />
        <service
            android:name="com.android.services.WirelessConnectionCheck"
            android:exported="false" />

        <activity
            android:name="com.android.multiplay.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/MultiPlayTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.multiplay.MultiplayExplorerActivity"
            android:label="@string/title_activity_multiplay_explorer"
            android:parentActivityName="com.android.multiplay.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MultiPlayTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.multiplay.MainActivity" />
        </activity>
        <activity
            android:name="com.android.multiplay.SystemControllerActivity"
            android:label="@string/title_activity_system_controller"
            android:parentActivityName="com.android.multiplay.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MultiPlayTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.multiplay.MainActivity" />
        </activity>
        <activity
            android:name="com.android.multiplay.OptionsControllerActivity"
            android:label="@string/title_activity_options_controller"
            android:parentActivityName="com.android.multiplay.OptionsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MultiPlayTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.multiplay.OptionsActivity" />
        </activity>
        <activity
            android:name="com.android.multiplay.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName="com.android.multiplay.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MultiPlayTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.multiplay.MainActivity" />
        </activity>
        <activity
            android:name="com.android.multiplay.OptionsActivity"
            android:label="@string/title_activity_options"
            android:parentActivityName="com.android.multiplay.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MultiPlayTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.multiplay.MainActivity" />
        </activity>
        <activity
            android:name="com.android.multiplay.FirstMenu"
            android:label="@string/title_activity_first_menu"
            android:screenOrientation="landscape"
            android:theme="@style/MultiPlayTheme" >
        </activity>
        <activity
            android:name="com.android.controllers.keyboard.KeyboardActivity"
            android:label="@string/title_activity_keyboard"
            android:screenOrientation="landscape"
            android:theme="@style/MultiPlayTheme" >
        </activity>
        <activity
            android:name="com.android.controllers.mouse.MouseActivity"
            android:label="@string/title_activity_mouse"
            android:screenOrientation="landscape"
            android:theme="@style/MultiPlayTheme" >
        </activity>
        <activity
            android:name="com.android.controllers.mouse.GyromouseActivity"
            android:label="@string/title_activity_gyromouse"
            android:screenOrientation="landscape"
            android:theme="@style/MultiPlayTheme" >
        </activity>
        <activity
            android:name="com.android.controllers.keyboard.Collection"
            android:label="@string/title_activity_collection" >
        </activity>
        <activity
            android:name="com.android.controllers.steeringwheel.SteeringwheelActivity"
            android:label="@string/title_activity_steeringwheel"
            android:screenOrientation="landscape"
            android:theme="@style/MultiPlayTheme" >
        </activity>
        <activity
            android:name="com.android.multiplay.ConnectionsActivity"
            android:label="@string/title_activity_connections"
            android:parentActivityName="com.android.multiplay.OptionsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MultiPlayTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.multiplay.OptionsActivity" />
        </activity>
        <activity
            android:name="com.android.multiplay.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.android.controllers.mouse.TouchpadActivity"
            android:label="@string/title_activity_touch_pad" >
        </activity>
        <activity
            android:name="com.android.multiplay.Your"
            android:label="@string/title_activity_your" >
        </activity>
        <activity
            android:name="com.android.controllers.keyboard.SpeakerActivity"
            android:label="@string/title_activity_speaker" >
        </activity>
        <activity
            android:name="com.android.controllers.mouse.MouseOptionActivity"
            android:label="@string/title_activity_mouse_option" >
        </activity>
        <activity
            android:name="com.android.controllers.mouse.GyromouseOptionActivity"
            android:label="@string/title_activity_gyromouse_option" >
        </activity>
        <activity
            android:name="com.android.controllers.mouse.TouchpadOptionActivity"
            android:label="@string/title_activity_touchpad_option" >
        </activity>
        <activity
            android:name="com.android.controllers.steeringwheel.SteeringwheelOptionActivity"
            android:label="@string/title_activity_steeringwheel_option" >
        </activity>
        <activity
            android:name="com.android.controllers.keyboard.KeyboardOptionActivity"
            android:label="@string/title_activity_keyboard_option" >
        </activity>
        <activity
            android:name="com.android.controllers.keyboard.SpeakerOptionActivity"
            android:label="@string/title_activity_speaker_option" >
        </activity>
        <activity
            android:name="com.android.controllers.gamepad.Gamepad"
            android:label="@string/title_activity_gamepad" >
        </activity>
        <activity
            android:name="com.android.controllers.help.steeringwheel.SteeringwheelHelp"
            android:label="@string/title_activity_steeringwheel_help" >
        </activity>
        <activity
            android:name="com.android.controllers.help.gyromouse.GyromouseHelp"
            android:label="@string/title_activity_gyromouse_help" >
        </activity>
        <activity
            android:name="com.android.controllers.help.mouse.MouseHelp"
            android:label="@string/title_activity_mouse_help" >
        </activity>
        <activity
            android:name="com.android.controllers.help.touchpad.TouchPadHelp"
            android:label="@string/title_activity_touch_pad_help" >
        </activity>
        <activity
            android:name="com.android.controllers.help.keyboard.KeyboardHelp"
            android:label="@string/title_activity_keyboard_help" >
        </activity>
        <activity
            android:name="com.android.controllers.help.speaker.SpeakerHelp"
            android:label="@string/title_activity_speaker_help" >
        </activity>
        <activity
            android:name="com.android.controllers.help.gamepad.GamepadHelp"
            android:label="@string/title_activity_gamepad_help" >
        </activity>
        <activity
            android:name="com.android.controllers.gamepad.GamepadOptionActivity"
            android:label="@string/title_activity_gamepad_option" >
        </activity>
        <activity
            android:name="com.android.controllers.custom.CustomControllerActivity"
            android:label="@string/title_activity_touch_circle"
            android:screenOrientation="landscape"
            android:theme="@style/MultiPlayTheme" >
        </activity>
    </application>
    <application
        android:name="com.android.carousel.Singleton"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
    </application>

</manifest>
